*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #000;
}

canvas {
    position: relative;
    background-color : rgba(0, 0, 0, 0.8);
}

section#title{
    
    background:url("../images/tt_lg.png") no-repeat;
    width:322px;
    height:117px;
    position:absolute;
    left:50%;
    margin-left:-161px;
    margin-top:20px;
}

section#level-select{
    position:absolute;
    left:50%;
    width:450px;
    margin:200px 0 0 -225px;
}

#level1{
    background:url("../images/cube_3x3.png") no-repeat;
    width:144px;
    height:150px;
    float:left;
}

#level2{
    background:url("../images/cube_4x4.png") no-repeat;
    width:143px;
    height:145px;
    float:left;
}

#level3{
    background:url("../images/cube_5x5.png") no-repeat;
    width:143px;
    height:144px;
    float:left;
}



section#wrapper{
    background:url("../images/bg_city.jpg") repeat-x;
}


section#stage{
	-webkit-perspective: 700px;
	-moz-perspective: 700px;
	-ms-perspective: 700px;
	-o-perspective: 700px;
	perspective: 700px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	display: block;
	position: relative;
	left: 50%;
	width: 600px;
	height: 600px;
	margin: 50px 0px 0px -300px;
    
    display:none;
    opacity:0;
    
    
}

article#box{
    -webkit-transform: rotate3d(0,1,0,45deg);
    -moz-transform: rotate3d(0,1,0,45deg);
    -ms-transform: rotate3d(0,1,0,45deg);
    -o-transform: rotate3d(0,1,0,45deg);
	cursor: move;
	position: relative;
	margin-top: -150px;
	margin-left: -150px;
	position: absolute;
	top: 50%; 
	left: 50%;
	width:300px;
	height: 300px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d; 
}

#box section{
    width:300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
	position: absolute;
	display: block;
	top: 50%; 
	left: 50%;
	-webkit-transform-style: flat;
	-moz-transform-style: flat;
	-o-transform-style: flat;
	transform-style: flat;
    border:1px solid rgba(255,255,255, 0.8);
}

#front{
	-webkit-transform: translate3d(0px, 0px, 150px);
	-moz-transform: translate3d(0px, 0px, 150px);
	-o-transform: translate3d(0px, 0px, 150px);
	transform: translate3d(0px, 0px, 150px);
}

#top{
	-webkit-transform: rotateX(90deg) translate3d(0px, 0px, 150px);
	-moz-transform: rotateX(90deg) translate3d(0px, 0px, 150px);
	-o-transform: rotateX(90deg) translate3d(0px, 0px, 150px);
	-transform: rotateX(90deg) translate3d(0px, 0px, 150px);
}

#bottom{
	-webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 150px);
	-moz-transform: rotateX(-90deg) translate3d(0px, 0px, 150px);
	-o-transform: rotateX(-90deg) translate3d(0px, 0px, 150px);
	-transform: rotateX(-90deg) translate3d(0px, 0px, 150px);
}

#back{
	-webkit-transform: rotateY(180deg) translate3d(0px, 0px, 150px);
	-moz-transform: rotateY(180deg) translate3d(0px, 0px, 150px);
	-o-transform: rotateY(180deg) translate3d(0px, 0px, 150px);
	-transform: rotateY(180deg) translate3d(0px, 0px, 150px);
	
}
#left{
	-webkit-transform: rotateY(-90deg) translate3d(0px, 0px, 150px);
	-moz-transform: rotateY(-90deg) translate3d(0px, 0px, 150px);
	-o-transform: rotateY(-90deg) translate3d(0px, 0px, 150px);
	-transform: rotateY(-90deg) translate3d(0px, 0px, 150px);
}

#right{
	-webkit-transform: rotateY(90deg) translate3d(0px, 0px, 150px);
	-moz-transform: rotateY(90deg) translate3d(0px, 0px, 150px);
	-o-transform: rotateY(90deg) translate3d(0px, 0px, 150px);
	-transform: rotateY(90deg) translate3d(0px, 0px, 150px);
}

#box section *{
	position: absolute;
	overflow: hidden;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	margin: 0px;
	padding: 0px;
	clear: both;
	visibility: hidden;
	overflow:hidden;
	font-size: 0px;
}

.clearfix {
	display: inline-block;
}
